.button-green {
  font-family: 'Montserrat', sans-serif;
  font-size: 85%;
  color: #FFFFFF;
  border-radius: 3px;
  border-color: #2F4F4F;
  border-width: 1px;
  background-color: #08605F;
  padding: 2%;
  box-shadow: 2px 2px 2px 1px #202020;
  margin: 1%;
  display: inline-block;
}

.button-green:hover {
  color: #2F4F4F;
  background-color: #F8F8FF;
  transform: scale(1.1);
}
