.cards {
  margin: 0;
}

.card {
  display: block;
  text-align: center;
  margin: 0 0 24px 0;
  background-color: #EBECF0;
  padding: 20px;
  border-radius: 5px;
}

button {
  display: block;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

footer {
	display: flex;
	justify-content: space-around;
	margin: 3%;
}
