.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  display: block;
  text-align: center;
  margin: 0 0 10% 0;
  background-color: #EBECF0;
  padding: 5%;
  border-radius: 5px;
}

button {
  display: block;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

footer {
	display: flex;
	justify-content: space-around;
	margin: 3%;
}
