header {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #EBECF0;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px;
  font-family: 'Mate SC', serif;
  color: #EBECF0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.header-container p {
 font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 1800px){
  header img {
  height: auto;
  width: 300px;
  }
  .header-container {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px){
	header img {
  height: auto;
  width: 200px;
  }
  .header-container {
    font-size: 15px;
  }
}
@media only screen and (max-width: 425px){
	header img {
  height: auto;
  width: 100px;
  }
  .header-container {
    font-size: 10px;
  }
}
