nav {
  padding: 2%;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #EBECF0;
  text-decoration: none;
}

a:hover {
  color: #EBECF0;
  font-weight: bolder;
  transform: scale(1.1);
}
@media only screen and (max-width: 1800px){
  a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px){
   a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 425px){
   a {
    font-size: 10px;
  }
}
